entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"
packages = ["supabase-cli"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"
integrations = ["stripe:1.0.0", "revenuecat:1.0.0"]

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://lnjupgvvsbdooomvdjho.supabase.co"
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY = "AIzaSyDE0nHW-BWYB9unrSztxncYWITtQwFGYa4"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_QYjXcboAZxWLyZURrZMcwWgymEu"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_TEBrLjKZRBzOJnqAIUQhtKDdZQs"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_bQJLyySFQHwCerKZtVyrnKtrxqf"
REVENUECAT_PROJECT_ID = "projfff5f27a"

[userenv.development]
EXPO_PUBLIC_ENV = "development"

[userenv.production]
EXPO_PUBLIC_ENV = "production"
